<div style="text-align:center"><span style="font-size:2em; font-weight: bold;">Lecture 4—Object oriented programming</span></div>

# Programming: Pandas

* [Introduction to Pandas](lec4files/03.00-Introduction-to-Pandas.ipynb)
* [Introducing Pandas Objects](lec4files/03.01-Introducing-Pandas-Objects.ipynb)
* [Data Indexing and Selection](lec4files/03.02-Data-Indexing-and-Selection.ipynb)
* [Missing Values](lec4files/03.04-Missing-Values.ipynb)
* [Concat And Append](lec4files/03.06-Concat-And-Append.ipynb)
* [Merge and Join](lec4files/03.07-Merge-and-Join.ipynb)
* [Aggregation and Grouping](lec4files/03.08-Aggregation-and-Grouping.ipynb)
* [Working With Strings](lec4files/03.10-Working-With-Strings.ipynb)
* [Working with Time Series](lec4files/03.11-Working-with-Time-Series.ipynb)
* [Performance Eval and Query](lec4files/03.12-Performance-Eval-and-Query.ipynb)
* [Further Resources](lec4files/03.13-Further-Resources.ipynb)

## Examples

In [2]:
import numpy as np
import pandas as pd

In [2]:
pd.read_csv('BWGHT.csv')

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
0,13.5,16.5,122.3,109,12.0,12.0,1,1,1,0,4.691348,6.8125,0.0,2.602690
1,7.5,16.5,122.3,133,6.0,12.0,2,1,0,0,4.890349,8.3125,0.0,2.014903
2,0.5,16.5,122.3,129,NaN,12.0,2,0,0,0,4.859812,8.0625,0.0,-0.693147
3,15.5,16.5,122.3,126,12.0,12.0,2,1,0,0,4.836282,7.8750,0.0,2.740840
4,27.5,16.5,122.3,134,14.0,12.0,2,1,1,0,4.897840,8.3750,0.0,3.314186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1383,27.5,30.0,138.3,110,12.0,12.0,4,1,1,0,4.700480,6.8750,0.0,3.314186
1384,5.5,30.0,138.3,146,NaN,16.0,2,1,1,0,4.983607,9.1250,0.0,1.704748
1385,65.0,8.0,118.6,135,18.0,16.0,2,0,1,0,4.905275,8.4375,0.0,4.174387
1386,27.5,8.0,118.6,118,NaN,14.0,2,0,1,0,4.770685,7.3750,0.0,3.314186
1387,37.5,8.0,118.6,111,16.0,13.0,2,0,1,0,4.709530,6.9375,0.0,3.624341

In [3]:
df = pd.read_csv('BWGHT.csv')

In [4]:
df.describe()

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
count,1388.000000,1388.000000,1388.000000,1388.000000,1192.000000,1387.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000
mean,29.026657,19.552954,130.559006,118.699568,13.186242,12.935833,1.632565,0.520893,0.784582,2.087176,4.760031,7.418723,0.104359,3.071271
std,18.739285,7.795598,10.244484,20.353964,2.745985,2.376728,0.894027,0.499743,0.411260,5.972688,0.190662,1.272123,0.298634,0.918064
min,0.500000,2.000000,103.800000,23.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,3.135494,1.437500,0.000000,-0.693147
25%,14.500000,15.000000,122.800000,107.000000,12.000000,12.000000,1.000000,0.000000,1.000000,0.000000,4.672829,6.687500,0.000000,2.674149
50%,27.500000,20.000000,130.800000,120.000000,12.000000,12.000000,1.000000,1.000000,1.000000,0.000000,4.787492,7.500000,0.000000,3.314186
75%,37.500000,26.000000,137.000000,132.000000,16.000000,14.000000,2.000000,1.000000,1.000000,0.000000,4.882802,8.250000,0.000000,3.624341
max,65.000000,38.000000,152.500000,271.000000,18.000000,18.000000,6.000000,1.000000,1.000000,50.000000,5.602119,16.937500,2.500000,4.174387

In [7]:
df.head()

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
0,13.5,16.5,122.3,109,12.0,12.0,1,1,1,0,4.691348,6.8125,0.0,2.602690
1,7.5,16.5,122.3,133,6.0,12.0,2,1,0,0,4.890349,8.3125,0.0,2.014903
2,0.5,16.5,122.3,129,NaN,12.0,2,0,0,0,4.859812,8.0625,0.0,-0.693147
3,15.5,16.5,122.3,126,12.0,12.0,2,1,0,0,4.836282,7.8750,0.0,2.740840
4,27.5,16.5,122.3,134,14.0,12.0,2,1,1,0,4.897840,8.3750,0.0,3.314186

In [8]:
df['bwght']

0       109
1       133
2       129
3       126
4       134
       ...
1383    110
1384    146
1385    135
1386    118
1387    111
Name: bwght, Length: 1388, dtype: int64

In [17]:
df[['cigs','faminc']]

      cigs  faminc
0        0    13.5
1        0     7.5
2        0     0.5
3        0    15.5
4        0    27.5
...    ...     ...
1383     0    27.5
1384     0     5.5
1385     0    65.0
1386     0    27.5
1387     0    37.5

[1388 rows x 2 columns]

In [18]:
df.iloc[0:5,2:6]

   cigprice  bwght  fatheduc  motheduc
0     122.3    109      12.0      12.0
1     122.3    133       6.0      12.0
2     122.3    129       NaN      12.0
3     122.3    126      12.0      12.0
4     122.3    134      14.0      12.0

In [8]:
x = df[['cigs','faminc']]
y = df['bwght']
pd.concat([y,x],axis=1)

      bwght  cigs  faminc
0       109     0    13.5
1       133     0     7.5
2       129     0     0.5
3       126     0    15.5
4       134     0    27.5
...     ...   ...     ...
1383    110     0    27.5
1384    146     0     5.5
1385    135     0    65.0
1386    118     0    27.5
1387    111     0    37.5

[1388 rows x 3 columns]

In [13]:
df.groupby(['parity','male']).mean()

                faminc     cigtax    cigprice       bwght   fatheduc  \
parity male
1      0     30.441176  18.803476  129.694385  116.350267  13.105263
       1     29.026128  20.269596  131.692637  118.722090  13.336957
2      0     31.685864  19.675393  130.660209  117.565445  13.416667
       1     27.356061  19.042929  129.650000  122.181818  13.133333
3      0     24.785714  19.628571  130.830000  120.585714  12.550000
       1     28.315789  20.072368  130.735526  121.263158  13.062500
4      0     27.195652  19.673913  130.682609  115.000000  14.111111
       1     21.093750  18.812500  127.893750  125.625000  12.583333
5      0     16.833333  23.166667  132.350000  124.000000  12.000000
       1     17.166667  17.833333  129.877778  120.333333  10.333333
6      0     27.500000  30.000000  138.300000  116.000000  12.000000
       1     27.500000  20.833333  131.166667  118.666667  13.333333

              motheduc     white      cigs    lbwght  bwghtlbs     packs  \
parity male
1      0     13.077748  0.823529  1.668449  4.739950  7.271892  0.083422
       1     13.078385  0.800475  1.738717  4.759159  7.420131  0.086936
2      0     13.020942  0.774869  2.465969  4.752334  7.347840  0.123298
       1     12.989899  0.757576  2.616162  4.790681  7.636364  0.130808
3      0     12.142857  0.685714  3.057143  4.777510  7.536607  0.152857
       1     12.513158  0.723684  1.868421  4.780491  7.578947  0.093421
4      0     12.521739  0.782609  3.521739  4.717280  7.187500  0.176087
       1     12.375000  0.750000  4.062500  4.822708  7.851562  0.203125
5      0     12.000000  0.833333  0.000000  4.806631  7.750000  0.000000
       1      9.888889  0.555556  5.555556  4.777664  7.520833  0.277778
6      0     12.000000  1.000000  0.000000  4.753590  7.250000  0.000000
       1     13.000000  0.666667  0.000000  4.776310  7.416667  0.000000

              lfaminc
parity male
1      0     3.150974
       1     3.104555
2      0     3.144246
       1     2.940402
3      0     2.961553
       1     2.978071
4      0     2.919709
       1     2.706205
5      0     2.293801
       1     2.703374
6      0     3.314186
       1     3.063273

In [14]:
df['intercept'] = 1
x = df[['intercept','cigs','faminc']]
y = df['bwght']
np.linalg.solve(x.T@x,x.T@y)

array([ 1.16974130e+02, -4.63407540e-01,  9.27647384e-02])

# Topic: Object-oriented programming	

## Benefits

**Instantiation**

Being able to make instances of something. Suppose you have a new data structure. You want to define the structure and make instances given particular data sets. This can be accomplished with classes. You make a general class, then when faced with a data set, you make a new instance. This ties into the second benefit of object-orientation which is encapsulation

**Encapsulation**

Being able to combine multiple data points into a single object which will always have the same naming conventions. This allows us to define custom functions which work on a class and which all the instances of that class will have access to. For instance, in pandas, all data sets which would normally just be numpy matrices have dedicated column names attached to them. This allows us to query for the column names and guarantees that something will be there for every data set. 

**Inheritance**

Suppose you wanted to make a panel data frame. This means that you need to create a bunch of panel functions and features, but if you didn't have inheritance, you would have to build this completely from scratch rewriting much of the pandas DataFrame code. With inheritance, you can simply extend the DataFrame class and start writing the new features and functions.

## Example

In [15]:
class A:
    def __init__(self,name):
        self.name = name
    def print_name(self):
        print('A object\'s name is: {0}'.format(self.name))

In [16]:
A('Jason')

In [17]:
jp = A('Jason')
jp.print_name()

A object's name is: Jason

In [18]:
jp.name

'Jason'

In [20]:
class B(A):
    def __init__(self,name,job):
        super(B,self).__init__(name)
        #self.name = name
        self.job = job
    def print_name_and_job(self):
        print('{0}\'s job is: {1}'.format(self.name,self.job))

In [23]:
jp = B('jason','teacher')
jp.print_name_and_job()

jason's job is: teacher

In [24]:
jp.print_name()

A object's name is: jason

In [26]:
jp.job

'teacher'

# Data Science: Linear model	
Our first goal is to understand the variance of $\hat\beta$. To do this, we will combine the formula for $\hat\beta$ with the linear modeling equation, $y=\mathbf X\beta+e$:
$$\begin{align}
\hat\beta&=\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X'y\\
&=\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X'\mathbf X\beta+\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X'e\\
&=\beta+\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X'e\\
\hat\beta-\beta&=\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X'e
\end{align}$$
Then we can define the variance:
$$\text{Var}(\hat\beta\vert\mathbf X)=\text{E}\left[\left(\hat\beta-\beta\right)\left(\hat\beta-\beta\right)'\vert\mathbf X\right]$$
This is true so long as $\text{E}(\hat\beta)=\beta$. I.e., when there is no endogeneity. Notice how our derived equation fits neatly into this definition. 
$$\text{Var}(\hat\beta\vert\mathbf X)=\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X'\text{E}\left[ee'\vert\mathbf X\right]\mathbf X\left(\mathbf X'\mathbf X\right)^{-1}$$
So we have our general formula for the variance. The OLS assumptions (no heteroskedasticity, no autocorrelation) imply in matrix form that $\text{E}\left[ee'\vert\mathbf X\right]=\sigma^2\mathbf I_n$. Now we can simply our variance as follows:
$$\begin{align}
\text{Var}(\hat\beta\vert\mathbf X)&=\sigma^2\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X'\mathbf I_n\mathbf X\left(\mathbf X'\mathbf X\right)^{-1}\\
 &=\sigma^2\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X'\mathbf X\left(\mathbf X'\mathbf X\right)^{-1}\\
 &=\sigma^2\left(\mathbf X'\mathbf X\right)^{-1}
\end{align}$$
So we can define the OLS variance estimator:
$$\hat{\text{Var}}(\hat\beta)_{\text{OLS}}=s^2\left(\mathbf X'\mathbf X\right)^{-1}$$
where $s^2=(n-r)^{-1}\sum_{i=1}^n\hat e_i^2$
If we want to only assume no autocorrelation then $\text{E}\left[ee'\vert\mathbf X\right]=\text{diag}\left( \sigma_i^2\right)$ and the variance becomes:
$$\hat{\text{Var}}(\hat\beta)_{\text{White}}=\left(\mathbf X'\mathbf X\right)^{-1}\mathbf X' \text{diag}\left(\hat{e}^2\right)\mathbf X\left(\mathbf X'\mathbf X\right)^{-1}$$
t-statistics can be defined by:
$$t_{\hat\beta}=\hat\beta\circ\text{diag}\left(\sqrt{\hat{\text{Var}}(\hat\beta)^{-1}}\right)$$
and p-values can similarly be defined:
$$p_{\hat\beta}=2\Phi(-\vert t_{\hat\beta}\vert)$$

In [28]:
df['(intercept)'] = 1
x = df[['(intercept)','cigs','faminc']]
y = df['bwght']
b = np.linalg.solve(x.T@x,x.T@y)
e = y-x@b
vb = e.var()*np.linalg.inv(x.T@x)
se = np.sqrt(np.diagonal(vb))
tstat = b/se
tstat

array([111.5923058 ,  -5.06396699,   3.18048888])

In [12]:
import scipy.stats as sps

class linear_model:
    def __init__(self,x,y):
        self.x = x
        self.y = y
        self.b = np.linalg.solve(x.T@x,x.T@y)
        e = y-x@self.b
        self.vb = self.vcov_b(e)
        self.se = np.sqrt(np.diagonal(self.vb))
        self.t = self.b/self.se
        self.p = 2*sps.norm.cdf(-np.abs(self.t))
    def vcov_b(self,e):
        x = self.x
        return e.var()*np.linalg.inv(x.T@x)
class white(linear_model):
    def vcov_b(self,e):
        x = self.x
        meat = np.diagflat(e.values**2)
        bread = np.linalg.inv(x.T@x)@x.T
        sandwich = bread@meat@bread.T
        return sandwich

In [38]:
df['(intercept)'] = 1
x = df[['(intercept)','cigs','faminc']]
y = df['bwght']
linear_model(x,y).p

array([0.00000000e+00, 4.10620787e-07, 1.47026782e-03])

# Programming challenges 

## Package structure

Consider how you would organize a data science package. What classes would you use? How would the inheritance structure work?

In [1]:
from cleands import *

In [7]:
LeastSquaresRegressor(*add_intercept(['cigs','faminc'],'bwght',df)).tidyci()

,variable,estimate,std.error,t.statistic,p.value,ci.lower,ci.upper
0,(intercept),116.97413047527961,1.0482275604970068,111.59230579647941,0.0,114.9178452288359,119.03041572172332
1,cigs,-0.46340754020188746,0.09151077434144152,-5.063966986803531,4.6589566540099483e-07,-0.6429222393572168,-0.2838928410465581
2,faminc,0.09276473837218088,0.029166817390860224,3.1804888798477493,0.001502854200197342,0.035548825962754486,0.14998065078160727

In [6]:
LeastSquaresRegressor(*add_intercept(['cigs','faminc'],'bwght',df)).glance

,r.squared,adjusted.r.squared,self.df,resid.df,aic,bic,log.likelihood,deviance,resid.var
,0.029805,0.028404,3,1385,12267.828569,12283.535426,-6130.914284,41.998144,402.516614

## Audioactive decay

Start with $x_0 = 1$. Now for each character, count the number of occurances. List the count and then the number. So we start with one $1$: $x_1=11$. Now we have two $1$s: $x_2=21$. The sequence continues:

```
1
11
21
1211
111221
312211
```

Print the first 15 rows of this sequence.

In [39]:
list('1211')

['1', '2', '1', '1']

In [11]:
row = '1'
print(row)
for j in range(15):
    newrow = ''
    count = 1
    value = row[0]
    for i in range(1,len(row)):
        if row[i]==value:
            count += 1
        else:
            newrow += str(count)
            newrow += value
            count = 1
            value = row[i]
    newrow += str(count)
    newrow += value
    print(newrow)
    row = newrow

1
11
21
1211
111221
312211
13112221
1113213211
31131211131221
13211311123113112211
11131221133112132113212221
3113112221232112111312211312113211
1321132132111213122112311311222113111221131221
11131221131211131231121113112221121321132132211331222113112211
311311222113111231131112132112311321322112111312211312111322212311322113212221
132113213221133112132113311211131221121321131211132221123113112221131112311332111213211322211312113211

In [26]:
n = 1000
nsim = 1000
reject = 0
for isim in range(nsim):
    xo = np.random.normal(size=(n,1))
    yo = np.random.normal(size=(n,))
    x = xo.copy()
    y = yo.copy()
    for i in range(1,n):
        x[i,0] += 0.5*x[i-1,0]
        y[i] += 0.5*y[i-1]
    x = np.hstack([np.ones([n,1]),x])
    if np.abs(newey(x,y).t[1])>1.96:
        reject += 1
reject/1000

0.049